
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
}
/* input fileds */
input{
    height:38px;
    width:40%;
    border: none;
    border-bottom: 2px solid black;
    font-size: 26px;
}

input[type=text] {
    width: 50%;
    padding: 8px 14px;
    margin: 2px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(97, 83, 83);

  }
  input[type="number" i] {
    width: 50%;
    padding: 8px 14px;
    margin: 2px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(97, 83, 83);

  }
  .cointainer{
    display: block;
    border-style: groove;
    border-radius: 10px;
    margin: 170px;
  }
input::placeholder{
    font-size: large;
}

#main-container{
    border: 2px solid black;
    border-radius: 10px;
    margin:0 200px;
    font-size: 35px;
    padding: 0px 20px 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inputs{
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: space-around;
    padding-top: 37px;
    
}
button{
    width: 80px;
    height: 50px;
    font-size: medium;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.addbutton{
    border-radius: 50%;
}

